# Dependencies
node_modules/

# Build output
build/
dist/

# Compiled source files
*.js
*.map

# Logs and temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp*
.DS_Store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage data
coverage/

# Caches
.cache/
.parcel-cache/

# Editor and IDE files
.vscode/
*.swp
*.swo
*.idea/

# Git-related
.gitattributes

backend/